.carousel {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}


@media (max-width: 768px) {

  /* Tablet */
  .carousel-image {
    height: 200px;
  }
}

@media (max-width: 576px) {

  /* Mobile */
  .carousel-image {
    height: 150px;
  }
}
