.header-left,
.header-right {
  width: 45%;
}

.header-right {
  text-align: end;
}

.header-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.header-center .img-fluid {
  max-width: 100%;
  color: #e5e5e5;
  padding-top: 50%;
}

.line {
  border-bottom: 2px solid #e5e5e5;
  padding: 5px 0;
}


@media screen and (min-width: 768px) {

  .header-left,
  .header-right {
    width: 45%;
  }

  .header-center {
    width: 10%;
    padding: 0;
  }

  /* ... other adjustments for tablet ... */
}
